# Stock Returns

## Set the Directory

In [1]:
setwd("/jupyter/csv-file")

## Clear Memory

In [2]:
rm(list=ls())

## Import the Data

In [3]:
data=read.csv('goldreturns.csv',header=T) # our data has headers (Tmeans True).
head(data)
tail(data)
attach(data)         # "attach"lets us use the variable names.

  Date       gold  nyse    nasdaq
1 1973-01-31  2.01 -2.6721 -3.7341
2 1973-02-28 29.24 -4.4088 -5.8657
3 1973-03-31  5.80 -0.6709 -2.3987
4 1973-04-30  0.50 -4.7597 -8.0667
5 1973-05-31 26.24 -2.3386 -4.6526
6 1973-06-30  7.86 -1.0214 -1.7628

    Date       gold  nyse    nasdaq
523 2016-07-31  1.18  2.6872  6.6157
524 2016-08-31 -1.35 -0.2532  0.8787
525 2016-09-30  1.02 -0.5878  1.8230
526 2016-10-31 -4.04 -2.2944 -2.3002
527 2016-11-30 -6.81  4.5701  2.6509
528 2016-12-31 -2.38  1.9488  1.1751

## Convert Data into Time Series

In [ ]:
gold_ts=ts(gold,frequency=12,start=c(1973,1))
nyse_ts=ts(nyse,frequency=12,start=c(1973,1))
nasdaq_ts =ts(nasdaq,frequency=12,start=c(1973,1))

## Plotting the Data

In [5]:
pdf('goldreturns.pdf')
par(mfrow=c(3,1))
ts.plot(gold_ts)
ts.plot(nyse_ts)
ts.plot(nasdaq_ts)
dev.off()

png
  2

## Data Summary

In [7]:
install.packages("psych")
library(psych)       # very useful for data summary.
describe(data[,-1])

Installing package into ‘/usr/local/spark-2.4.3-bin-hadoop2.7/R/lib’
(as ‘lib’ is unspecified)
also installing the dependencies ‘mnormt’, ‘foreign’

       vars n   mean      sd       median trimmed   mad      min      max
gold   1    528 0.7238636 6.034589 0.0150 0.4118160 4.596060 -21.3700 29.2400
nyse   2    528 0.6364960 4.353424 0.9839 0.7602703 3.980188 -21.8447 16.4814
nasdaq 3    528 0.8781858 6.151811 1.3013 1.0599858 5.078943 -27.1763 21.8964
       range   skew       kurtosis se
gold   50.6100  0.9231638 4.265637 0.2626218
nyse   38.3261 -0.4956494 2.378947 0.1894585
nasdaq 49.0727 -0.4768352 1.836064 0.2677232